export(as.unit.tree)
export(check.summ.stats)
export(compare.summ.stats)
export(contrast.asr.plot)
export(contrast.nh.plot)
export(contrast.var.plot)
export(def.summ.stats)
export(is.unit.tree)
export(ks.pic)
export(make.model.phylo)
export(phy.model.check)
export(pval.summ.stats)
export(sigsq.reml)
export(sim.char.unit)
export(slope.pic.asr)
export(slope.pic.nh)
export(slope.pic.var)
export(summ.stats)
export(var.pic)
import(ape)
import(ggplot2)
S3method(as.unit.tree,default)
S3method(as.unit.tree,multiPhylo)
S3method(as.unit.tree,phylo)
S3method(make.model.phylo,fitC)
S3method(plot,phy.ss)
S3method(print,phy.ss)
