export(as.unit.tree)
export(check.summ.stats)
export(compare.summ.stats)
export(contrast.asr.plot)
export(contrast.nh.plot)
export(contrast.var.plot)
export(cor.contrast.asr)
export(cor.contrast.nh)
export(cor.contrast.var)
export(def.summ.stats)
export(is.unit.tree)
export(ks.contrast)
export(make.model.phylo)
export(model.info)
export(mv.summ.stats)
export(phy.model.check)
export(pval.summ.stats)
export(sigsq.est)
export(sim.char.unit)
export(summ.stats)
export(var.contrast)
import(ape)
import(ggplot2)
S3method(as.unit.tree,default)
S3method(as.unit.tree,mcmcsamples)
S3method(as.unit.tree,mcmcsamples.pgls)
S3method(as.unit.tree,multiPhylo)
S3method(as.unit.tree,phylo)
S3method(make.model.phylo,fitC)
S3method(model.info,fit.mle)
S3method(model.info,gfit)
S3method(model.info,gls)
S3method(model.info,mcmcsamples)
S3method(model.info,pgls)
S3method(model.info,phylolm)
S3method(plot,phy.ss)
S3method(print,phy.ss)
